/* Tablet */

@media screen and (min-width: 480px) {

  nav ul{
    margin-top: 0;
  }



  /* Contact */
  #info {
    width: 50%;
    float: left;
  }
  #contatti {
    width: 40%;
    float: right;
  }
  .banner {
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-image: url("img/banner.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  #gallery li {
    max-width: 100%;
  }
}

/* Desktop */

@media screen and (min-width: 660px) {
  /* Header */
  #logo {
    float: left;
    width: 45%;
    margin-left: 5%;
    text-align: left;
  }
  nav {
    float: right;
    width: 45%;
    margin-top: 10px;
    margin-right: 5%;
    text-align: right;
    padding-top: 0px;
    font-size: 1.15em;
  }

  .main-header {
    background: rgba(52, 52, 52, 0);
    height: 40px;
  }
  .main-header h1, h2, * a {
    color: white;
  }
  .is-sticky .main-header {
    background: #333;
  }
  .banner {
    height: 100%;
    top: 0;
    left: 0;
    text-align: center;
    background-image: url("img/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  /* About */
  .foto-profilo {
    float: left;
    margin-right: 5%;
  }
  /* Portfolio */
  #gallery li {
    float: left;
    width: 28.3333333333%;
    margin: 2.5%;
    transition: all 0.4s;
  }
}
